
.product-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem;
}

.product-container > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product-container h1 {
  text-transform: capitalize;
  font-size: 1.5rem;
  margin-left: 1rem;
  color:white;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);  /* 3 cards per row */
  gap: 1rem;
  padding: 0 1rem;
  overflow-x: unset;                      /* remove scroll */
}

.card {
  height: 400px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* ensures button stays visible at the bottom */
}

.card-header img {
  width: 100%;
  height: 250px; /* reduce height to make room for text and button */
  object-fit: cover;
}

.card-footer {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  overflow: hidden;
}

.description, .title {
  font-size: 0.85rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.title {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.description {
  font-size: 0.9rem;
  margin: 0.25rem 0;
}

.btn-add-to-cart {
  margin-top: 0.75rem;
  padding: 0.5rem;
  width: 100%;
  background-color: #6a1b9a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
